<div class="share-buttons">
	<a class="facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute=" true "}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" class="blue"><i class="fab fa-facebook-f"></i></a>

	<a class="twitter" target="_blank" href="http://twitter.com/share?text={{encode title}}&amp;url={{url absolute=" true "}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" class="paste"><i class="fab fa-twitter"></i></a>

	<a class="linkedin" target="_blank" href="https://pinterest.com/pin/create/button/?{{url absolute="true"}}{{#if feature_image}}&media={{feature_image}}{{/if}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" class="red"><i class="fab fa-pinterest"></i></a>
</div>