<div class="footer-widget pe-2">  
    {{#if @site.logo}}
        <img class="footer-logo mb-3" src="{{@site.logo}}" alt="{{@site.title}}">
    {{else}}
        <img class="footer-logo mb-3" src="{{asset "images/header-brand.png"}}" alt="{{@site.title}}">
    {{/if}}
</div>