<article data-aos="fade-in" class="blog-style5 d-flex align-items-center d-md-block d-xl-flex {{post_class}}">
    {{#if feature_image}}
    <a href="{{url}}" aria-label="{{title}}">
        <div class="post-img-wrap position-relative overflow-hidden">

            <img class="lazyload post-img" srcset="{{img_url feature_image size=" s"}} 300w, {{img_url feature_image
                size="m" }} 600w, {{img_url feature_image size="l" }} 1000w, {{img_url feature_image size="xl" }} 2000w"
                sizes="(max-width: 1000px) 400px, 800px" src="{{img_url feature_image size=" m"}}" alt="{{title}}"
                loading="lazy" data-src="{{img_url feature_image}}" />


        </div>
    </a>
    {{/if}}
    <div class="post-content pt-md-2 pt-xl-0 pt-0">
        <h6 class="post-title"><a href="{{url}}">{{title}}</a>
        </h6>
        <div class="post-meta">
            <span class="date-info small">
                <span>{{date published_at format="DD MMM YY"}}</span>
                <span>{{reading_time}}</span>
            </span>
        </div>
    </div>
</article>